<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>資料列表</title>
</head>
   <body>

      <table border = 1>
         <thead>
            <td>{{ _("ID") }}</td>
            <td>{{ _("Name") }}</td>
            <td>{{ _("Years") }}</td>
            <td>{{ _("Gender") }}</td>
         </thead>
         {% for row in rows %}
            <tr>
               <td>{{ row[0] }}</td>
               <td>{{ row[1] }}</td>
               <td>{{ row[2] }}</td>
               <td>{{ row[3] }}</td>    
            </tr>
         {% endfor %}   
      </table>

      <a href = "/">返回主頁</a>

   </body>
</html>